@charset "UTF-8";

#back-to-top {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    background-color: crimson;
    border-radius: 100rem;
    border: none;
    bottom: -100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: white;
    cursor: pointer;
    outline: none;
    padding: 0.9rem;
    position: fixed;
    right: 3.6rem;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    user-select: none;
}

#back-to-top:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#back-to-top:active {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
